@import "./reset.scss";
@import "./variables/globals.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

@font-face {
  font-family: "Logo";
  src: local("Raleway-ExtraBoldItalic"), url("../../public/fonts/Raleway-ExtraBoldItalic.ttf") format("woff");
}

@font-face {
  font-family: "Railway";
  src: local("Railwat-Regular"), url("../../public/fonts/Raleway-Regular.ttf") format("woff");
}


body {
  margin: 0;
  padding: 0;
  color: var(--primary-color)
}

* {
  font-family: sans-serif;
}

p {
  text-decoration: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0;
}

:global(.app) {
  min-height: 100vh;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
