@import "./reset.scss";
@import "./variables/globals.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

@font-face {
  font-family: "Logo";
  src: local("Raleway-ExtraBoldItalic"), url("../../public/fonts/Raleway-ExtraBoldItalic.ttf") format("woff");
}

@font-face {
  font-family: "Railway";
  src: local("Railwat-Regular"), url("../../public/fonts/Raleway-Regular.ttf") format("woff");
}


body {
  margin: 0;
  padding: 0;
  color: var(--primary-color)
}

* {
  font-family: sans-serif;
}

p {
  text-decoration: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0;
}

:global(.app) {
  min-height: 100vh;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}


@mixin rangeThumb {
  width: 20px;
  height: 20px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
  pointer-events: auto;
  z-index: 100;
}

@mixin rangeThumb1 {
  width: 20px;
  height: 20px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
  z-index: 100;
  pointer-events: auto;

}

@mixin rangeTrack {
  width: 100%;
  height: 10px;
  cursor: pointer;
  // background: #b2b2b2;
  border-radius: 5px;

}

.range {
  position: relative;
  width: 550px;
  height: 5px;
}

.range input {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 10px;
  height: 0;
  z-index: 1;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus {
    // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track {
    // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

.range .input1 {
  width: 100%;
  position: absolute;
  top: 10px;
  height: 0;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb1;
  }

  &::-moz-range-thumb {
    @include rangeThumb1;
  }

  &::-ms-thumb {
    @include rangeThumb1;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus {
    // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track {
    // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}



// Labels below slider
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 17px;
    cursor: pointer;

    // &::before {
    //   position: absolute;
    //   top: -25px;
    //   right: 0;
    //   left: 0;
    //   content: "";
    //   margin: 0 auto;
    //   width: 9px;
    //   height: 9px;
    //   background: #b2b2b2;
    //   border-radius: 50%;
    // }
  }

  .active {
    color: #37adbf;
  }

  .selected::before {
    background: #37adbf;
  }

  .active.selected::before {
    display: none;
  }
}

.divFill {
  position: absolute;
  height: 10px;
  top: 7px;
  z-index: -2;
  background-color: red;
  background-size: 100% 100%;
}

/* track fill */
.divLowerFill {
  position: absolute;
  height: 6px;
  // width: 70px;
  width: 100%;
  top: 7px;
  background-color: #273042;
  pointer-events: none;
  z-index: -50;

}



//   input[type="range"]::-moz-range-progress {
//     background-color: #43e5f7; 
//     height: 10px;
//   }
//   input[type="range"]::-moz-range-track {  
//     background-color: #9a905d;
//   }