:root{
    --font-family-main:consolas, "Times New Roman", serif;
    --font-size-m:20px;
    --font-line-m:24px;
    --font-m:var(--font-lize-m) / var(--font-lize-m) var(--font-family-main);
    --font-size-l:30px;
    --font-line-l:35px;
    --font-l:var(--font-lize-l) / var(--font-lize-l) var(--font-family-mail);

    --font-size-xl:40px;
    --font-line-xl:45px;

    --navbar-height:80px;
    --navbar-padding:200px;

    --sidebar-width:300px;
    --sidebar-width-collapsed:80px;
}