.paymentPage{
  position: relative;
  height: 100%;
  color: var(--inverse-primary-color);
  h3{
    color: black;
  }

}

.container{
  //padding-top: var(--navbar-height);
}

.header{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  color: black;
  text-align: center;
}

.banner{
  width: 100%;
  height: 300px;
  background-image: url("public/assets/card_calibration.png");
}
.orderContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100vh;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  h3{
    font-size: var(--font-size-m);
    line-height: 0;
  }
}

.checkoutContent{
}
.gameAccountCredentials{
  position: relative;
  display: flex;
  min-width: 500px;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
  box-shadow:  0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);



  .proceedToPaymentBtn{
    padding: 10px 10px;
    width: 100%;
    letter-spacing: 2px;
    height: 50px;
  }
}

.indicator{
  position: absolute;
  z-index: 2;
  top:20px;
  left: -20px;
}

.orderSummaryContainer{
  position: relative;
  padding: 20px 20px;
  box-shadow:  0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);

  .indicator{
    position: absolute;
    z-index: 2;
    top:10px;
    left: -20px;
  }
}




.orderSummary{
  display: flex;
  flex-direction: column;
  position: relative;
}
.orderSummaryHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderHeader{
  font-size: var(--font-size-m);
  font-weight: 600;
  color: black;
}
.editBtn{
  text-decoration: underline;
  color: #2CA8FF;
  cursor: pointer;
}

.cartContent{
  .cartItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.totalContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}













.paymentContainer{
  position: relative;
  padding: 20px 20px;
  background-color: white;
  box-shadow:  0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.paymentOptions{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.paymentOption{
  flex: 1;
  width: auto;
}
.finalSum{
  font-size: var(--font-size-m);
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}

.stripeBtn{
  height: 40px;
  border-radius: 25px;
  font-size: 24px;
  background-color: #3232D5;
}
.cryptoBtn{
  height: 40px;
  border-radius: 25px;
  font-size: 24px;
  background-color: #1652F0;
}

.buyBtn{
  width: 100%;

  background-color: #4a64f7;
  border-radius: 25px;
  letter-spacing: 1.2px;
}
.btnlabel{
  font-size: var(--font-size-sm);
  line-height: var(--font-line-sm);
  padding-top: 3px;
  text-align: center;
}
//order summary




.readyInputContainer{
  display: flex;
  justify-content: space-between;
}
.userCredContainer{
  display: flex;
  gap: 10px;
  .icon{
    width: 24px;
    height: 24px;
  }
  div{
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--inverse-primary-color);
  }
}