.label {
  font-size: 13px;
  color: #afaeae;
}

.input {
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}
.input:focus{
  outline: none !important;
  border-color: #2CA8FF;
  box-shadow: 0 0 3px 0 #1183d6;
  transition: all .2s ease-in-out;
}
