@import "app/styles/variables/mixins";

.sideDrawer{
  display: flex;
  flex-direction: column;
  //grid-template-rows: 15% 60% 25%;
  grid-template-columns: 100%;
  height: 100%;
  width: 30%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  transition: all 0.3s ease-out;
  transform: translate(100%);
  color: black;
}

.open{
  transform: translate(0);
}

.sideDrawerHeader{
  display: flex;
  height: 70px;
  padding: 10px 20px;
  //height: 96px;
  justify-content: space-between;
  border:black;
  align-items: center;
  background-color: #F7F7F8;
  h3{
    font-weight: 500;
  }
}

.closeBtnSpecific{
  position: relative;
  top: 0;
  right: 0;
}


.checkoutBlock{
  position: fixed;
  height: fit-content;
  bottom: 0;
  padding: 10px 20px;
}


.agreement{
 @include lightText
}

.priceBlock{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  div{
    @include normalSmallText
  }
}


.stripeBtn{
  width: 100%;
  height: 40px;
  border-radius: 25px;
  font-size: 24px;
  font-family: cursive;
}

.buyBtn{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4a64f7;
  border-radius: 25px;
  letter-spacing: 1.2px;
}



