.cardContainer{
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 10px;
}
.cardLink{
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cardContent{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;

}
.cardContent:hover{
  transform: scale(1.05);
  box-shadow: 10px 0 10px  black;
  transition: all .1s ease-in-out;
}

.cardBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  border-radius: 10px;

}

.titleContainer{
  position: absolute;
  bottom: 20px;
  left: -20px;
  padding: 10px 20px;
  background: orangered;
  border-radius: 10px;
  box-shadow: 15px 15px 5px black;

  p{
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
}