.closeBtn {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border-color: transparent;
  font-size: 25px;
  color: gray;
  cursor: pointer;
}
.notAbsolute{
  position: initial;
}
.closeBtn:hover{
  color:black
}