.app.dark {
    --bg-color: #090949;
    --bg-inverse:#e8e8ea;
    --primary-color: #000000;
    --secondary-color: #04ff04;
    --inverse-primary-color : #FFFFFF;
    --inverse-secondary-color: #0449e0;
}