ul{
    list-style-type: none;
}

.navbarContainer{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--secondary-color);
}

.navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbarOptions{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navbarOptions li{
    margin-right: 20px;
}

.dropdownToggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

  
.dropdownMenu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

.dropdownItem{
    width: 200px;
    line-height: 35px;
    background-color: var(--primary-color);
    padding-left: 5px;
    a{
        color:var(--inverse-primary-color)
    }
}
.dropdownItem:hover{
    background-color: var(--secondary-color);
    transition: background-color .3s ease-in;
    a{
        color:white
    }
}



.dropdownToggle:hover .dropdownMenu{
    display: block;
}