$slider-width-number: 300;
$slider-width: #{$slider-width-number}px;
$slider-height: 15px;
$background-slider: var(--secondary-color);
$background-filled-slider: #c7c7c7;
$thumb-width: 25px;
$thumb-height: 20px;
$thumb-radius: 50%;
$thumb-background: #fff;
$thumb-border: 1px solid #777;
$shadow-size: -3px;
$fit-thumb-in-slider: -2.7px;
$track-radius:50%;

@mixin rangeThumb{

}


@function makelongshadow($color, $size) {
  $val: 2px 0 0 $size $color;

  @for $i from 6 through ($slider-width-number - 15) {
    $val: #{$val}, #{-$i}px 0 0 $size #{$color};
  }

  @return $val;
}

.customInputRange {
  align-items: center;
  appearance: none;
  background: none;
  cursor: grab;
  display: flex;
  height: 100%;
  min-height: 50px;
  overflow: hidden;
  width: $slider-width;
  border-radius:$track-radius ;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:active{
    //&::-webkit-slider-thumb {
    //  border: 2px black;
    //}
    //&::-moz-range-thumb{
    //  border: 2px #2CA8FF;
    //}
    //&::-ms-thumb{
    //  border: 2px #2CA8FF;
    //}
  }

  &::-webkit-slider-runnable-track {
    background: $background-filled-slider;
    content: '';
    height: $slider-height;
    pointer-events: none;
    //border-radius: $track-radius;

  }

  &::-webkit-slider-thumb {
    width: $thumb-width;
    height: $thumb-height;

    appearance: none;
    background: $thumb-background;
    border-radius: $thumb-radius;
    box-shadow: makelongshadow($background-slider, $shadow-size);
    margin-top: $fit-thumb-in-slider;
    border: $thumb-border;
  }


  &::-moz-range-track {
    width: $slider-width;
    height: $slider-height;
    border-radius:$track-radius;

  }

  &::-moz-range-thumb {
    //@include size($thumb-width $thumb-height);
    width: $thumb-width;
    height: $thumb-height;
    background: $thumb-background;
    border-radius: $thumb-radius;
    border: $thumb-border;
    position: relative;
  }

  &::-moz-range-progress {
    height: $slider-height;
    background: $background-filled-slider;
    border: 0;
    margin-top: 0;
    border-radius:$track-radius;

  }

  &::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    //border-radius: 0;
    border-width: 0;
    color: transparent;
    height: $slider-height;
    margin-top: 10px;
    width: $slider-width;
    border-radius: $track-radius;

  }

  &::-ms-thumb {
    width: $thumb-width;
    height: $thumb-height;

    background: $thumb-background;
    border-radius: $thumb-radius;
    border: $thumb-border;
  }

  &::-ms-fill-lower {
    background: $background-filled-slider;
    //border-radius: 0;
    border-radius:$track-radius ;
  }

  &::-ms-fill-upper {
    background: $background-slider;
    border-radius:$track-radius ;
    //border-radius: 0;
  }

  &::-ms-tooltip {
    display: none;
  }
}