.logoContainer{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.logoText{
    font-family:"Logo";
    font-size: 30px;
    // color: #f2dcdc;
    color: var(--primary-color);
    letter-spacing: 2px;
    line-height: 30px;
    padding: 0;
}