.calibrationContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    padding-top: 30px;
}

.header {
    text-align: left;
    font-size: var(--font-size-l);

}
.inputContent{
    position: relative;
    width: fit-content;
}


.gameAmount{
    font-size: var(--font-size-xl);
}

.rangeContainer{
    display: flex;
    gap: 20px;
    align-items: center;
}

.estimatedPriceBlock{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.estimatedTime{
    padding-top: 20px;
}
.estimatedPrice{
    font-size: var(--font-size-xxl);
    line-height: var(--font-line-xxl);
    font-weight: bold;
}

.buyBtn{
    width: 150px;
    padding: 20px 0;
    font-size: var(--font-size-m);
}


.productsContainer{
    padding-top: 30px;
    width:calc(84px*4 + (10px*8));
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .card{
        width: fit-content;
        height: fit-content;
        padding: 2px 0;
        display: flex;
        flex-direction: column;
        align-items: center ;
        cursor: pointer;

    }
    .active{
        border: 1px var(--primary-color) solid;
        
    }
    
    .cardImg{
        width: 80px;
        height: 80px; 
    }
}

.amountOfGamesContainer{
    padding-top: 30px;
}

