.boostOrderWrapper{
  display: flex;
  padding-top: 20px;
}
.rank{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    width: 90px;
    height: 80px;
  }
  .rankValue{
    font-size: var(--font-size-m);
    font-weight: 600;
    text-align: center;
  }
}

